@keyframes slideshare {
  0% {
    background: url("../ICONS/gallery/angga-indratama-LspBqN9gzAg-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../ICONS/gallery/josh-wedgwood-9LQTT02LYaE-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../ICONS/gallery/julie-thornton-UWdgTvf3m8g-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../ICONS/gallery/patrik-velich-GRSxyDKtlSM-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../ICONS/gallery/rune-haugseng-qNe4XPYDnSY-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
