// Fonts
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Roboto', sans-serif;
$ff-tertiary: 'Poppins', sans-serif;

// Colors
$primary-color: #191919;
$secondary-color:#505050;
$btn-color: #fdef2c;
